* {
    margin: 0;
    padding: 0;
    transition: all 1s;
}

.calculator {
	 width: 330px;
	 height: 316px;
	 border-style: solid;
	 border-width: 1px;
	 margin: 0px;
	 border-color: rgb(150, 150, 150);
	 background-color: rgb(200, 200, 200);
}

.resultwin {
	width: 290px;
	height: 80px;
	margin: 20px;
	padding: 2px;
    border-style: solid;
	border-width: 1px;
	border-color: rgb(150, 150, 150);
	background-color: rgb(250, 250, 250);
}

.tablecontainer {
	width: 290px;
	height: 180px;
	margin: 20px;
}